    </main>
    <footer class="admin-footer">
        <div class="footer-bottom">
            <p>&copy; 2023 Ship Route Optimizers 312D. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html> 